Mapas2/WebContent/wsdl/RegistraCoordenadas.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservices.gmaps.ucsg" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservices.gmaps.ucsg" xmlns:intf="http://webservices.gmaps.ucsg" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservices.gmaps.ucsg" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="insertaCoordenadaDao">
    <complexType>
     <sequence>
      <element name="latitud" type="xsd:string"/>
      <element name="longitud" type="xsd:string"/>
      <element name="altitud" type="xsd:string"/>
      <element name="imei" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="insertaCoordenadaDaoResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="insertaCoordenadaDaoResponse">

      <wsdl:part element="impl:insertaCoordenadaDaoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="insertaCoordenadaDaoRequest">

      <wsdl:part element="impl:insertaCoordenadaDao" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="RegistraCoordenadas">

      <wsdl:operation name="insertaCoordenadaDao">

         <wsdl:input message="impl:insertaCoordenadaDaoRequest" name="insertaCoordenadaDaoRequest">

       </wsdl:input>

         <wsdl:output message="impl:insertaCoordenadaDaoResponse" name="insertaCoordenadaDaoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="RegistraCoordenadasSoapBinding" type="impl:RegistraCoordenadas">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="insertaCoordenadaDao">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="insertaCoordenadaDaoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="insertaCoordenadaDaoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="RegistraCoordenadasService">

      <wsdl:port binding="impl:RegistraCoordenadasSoapBinding" name="RegistraCoordenadas">

         <wsdlsoap:address location="http://localhost:8080/Mapas2/services/RegistraCoordenadas"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
